<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Link css -->
    <link rel="stylesheet" href="./style.css">
     <!-- Importo Vue.js -->
     <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
     <!-- Importo Axios -->
     <script src="https://unpkg.com/axios@1.6.8/dist/axios.min.js"></script>
</head>
<body>
    
    <div id="app">

        <div class="container">

            <ul v-if="emails.length >= numEmail">
                <li v-for="(email, i) in emails">
                    {{ i + 1 }} : {{ email }}
                </li>
            </ul>
            <button @click="getmail">Genera email</button>
            <button @click="cancel">cancella email</button>
            
        </div>
       
        

    </div>


    <script src="main.js"></script>
</body>
</html>